<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow flex-md-nowrap p-0">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" th:href="@{/}">
        <i class="bi bi-code-square me-2"></i>Devhelper
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav ms-auto w-100 px-3">
        <div class="nav-item text-nowrap d-flex justify-content-end align-items-center w-100">
            <!-- Botón Dark Mode -->
            <button class="btn btn-link nav-link px-3 text-light" id="theme-toggle" title="Cambiar tema">
                <i class="bi bi-moon-stars" id="theme-icon"></i>
            </button>
            <span class="nav-link px-3 text-light border-start border-secondary" th:text="${#authentication.name}">Admin</span>
            <form th:action="@{/logout}" method="post" class="d-inline">
                <!-- Se asume que CSRF esta desactivado como en config, si no require input -->
                <button type="submit" class="nav-link px-3 btn btn-link">Salir</button>
            </form>
        </div>
    </div>
</nav>
